.mainContainer {
    display: flex;
}
.leftContainer {
    background-color: #192F48;
}
.rightContainer {
    padding: 0 2rem;
}
.dateAndSettingButtons {
    display: flex;
  justify-content: space-between;
}
.setting-icon {
    color: blue;
}
.setting-button {
    font-weight: bold;
}